<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcas</title>

    <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-4.0.0/dist/css/bootstrap-grid.css">
</head>

<body>

    <!--Navbar-->
    <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" />
            </a>
            <a href="/">
                <button role="link" class="btnCerrar">Cerrar Sesión</button>
            </a>
        </nav>
    </div>
    <!--Fin navbar-->
    <div class="todo_marca">
        <div class="row columnas_add">
            <div class="col-8">
                <div>
                    <a href="/config">
                        <img class="home_logo" src="/img/home.jpg" alt="home">
                    </a>
                </div>
                <h1 style="padding-left:10vw">MARCAS</h1>
                <br>
                <div align="center" class="add_form">
                    <input type="text" placeholder="Nombre">
                    <br><br>
                    <input type="text" placeholder="Teléfono">
                    <br><br>
                    <input type="text" placeholder="Correo">
                    <br><br>
                    <input type="text" placeholder="Página Web">
                    <br><br>
                        <div class="row other">
                            <div class="col-6"  style="padding-left: 10.25vw;">
                                <input type="text" placeholder="@facebook">
                            </div>
                            <div class="col-6"  style="padding-right: 10.25vw;">
                                <input type="text" placeholder="@instagram">
                            </div>
                        </div>
                    <br>
                    <div align="left" style="padding-left:8.5vw" class="botomnes">
                        <a href="/marcas">
                            <button style="margin-right:0.5vw">GUARDAR</button>
                        </a>
                        <a href="/marcas">
                            <button>CANCELAR</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="comoquieras">
                    <img src="/img/color_a.png" alt="grey">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/modal_marca.js"></script>

</html>