<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar</title>

    <link rel="icon" href="/img/Logo-FTK-new-negro.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div>
    <nav class="color-nav">
        <a href="/">
            <input type="image" id="image" alt ="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
        </a>
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </nav>
    </div>
    <br/>
    <div>
        <button class="btnMenu">Menú</button>
    </div>
    <br/>
    <h1 align="center">Agendar</h1>
    <br/>
    <div align="center">
    <input type="search" name="searchId" placeholder="Buscar ID">
       <br><br>
       <form action="post">
    <table class="magia">
        <tbody>
          <tr>
            <td>Checkbox</td>
            <td>ID Cliente</td>
            <td>Folio Membresia</td>
            <td>Asesor Venta</td>
            <td>Fecha Compra</td>
            <td>Tratamiento</td>
            <td>Acompañantes</td>
            <td>Ticket</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><div class="tooltip">Nombre Tratamiento
                <span class="tooltiptext"><b>Detalles</b><br>Tipo: <br>Precio <br>Clase: </span>
              </div>
              <br>
              </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        </table>
        <br><br>
        <label><b>Sucursal: </b></label>
      <br />
      <select name="Sucursal" id="Sucursal">
        <option selected="selected" value=""></option>
        <option value="RS01">RS01</option>
        <option value="RC01">RC01</option>
        <option value="VV01">VV01</option>
      </select>
        <br><br>
        <label for="fechacita"><b>Fecha: </b></label><br />
      <input type="date" name="Fecha" id="fechacita">
      <br><br>
      <label for="Cabina"><b>Cabina: </b></label><br>
      <select name="Cabina" id="Cabina">
        <option selected="selected" value=""></option>
        <option value="">Cabina: #, Horario: 00:00</option>
        <option value="">Cabina: #, Horario: 00:00</option>
        <option value="">Cabina: #, Horario: 00:00</option>
      </select>
      <br><br>
      <label for="notas"><b>Notas:</b></label><br>
      <input type="textarea" id="notas" name="notas">
      <br><br>
      <button class="buttong" type="submit" name="agendar">Agendar</button>
    </form>
</div>
</body>
</html>