<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendario</title>

  <link rel="icon" href="/img/Logo-FTK-new-negro.png">
  <link rel="stylesheet" href="/css/style.css">
  <link type="text/css" href='/fullcalendar/main.css' rel='stylesheet' />
  <script src='/fullcalendar/main.js'></script>

</head>

<body>
  <!--Navbar-->
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <!--Fin navbar-->
  <!--Contenido-->
  <a href="/">
    <button class="btnMenu">Menú</button>
  </a>
  <div class="calendar_buttons">
    <button class="" onclick="openSchedule('VV')">Vine Vera</button>
    <button class="" onclick="openSchedule('RS')">Resvera</button>
    <button class="" onclick="openSchedule('RC')">Reserve Cut</button>
    <button class="" onclick="openSchedule('OG')">Oro Gold</button>
  </div>
  <div id="VV" class="schedule">
    <h2 class="sch_title">Vine Vera</h2>
    <div style="margin-top:20vw" id='calendar'></div>
  </div>
  
  <div id="RS" class="schedule" style="display:none">
    <h2 class="sch_title">Resvera</h2>
    <div style="margin-top:13vw" id='calendar1'></div>
  </div>
  
  <div id="RC" class="schedule" style="display:none">
    <h2 class="sch_title">Reserve Cut</h2>
    <div style="margin-top:13vw" id='calendar2'></div>
  </div>

  <div id="OG" class="schedule" style="display:none">
    <h2 class="sch_title">Oro Gold</h2>
    <div style="margin-top:13vw" id='calendar3'></div>
  </div>
  <br><br>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
    
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        initialDate: '2021-12-12',
        navLinks: true,
        headerToolbar: {
          left: 'prev today next',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek timeGridDay,listDay'
        },
        editable: true,
        lang: 'es',
        events: [
          {
            title: 'All Day Event',
            start: '2021-12-01'
          },
          {
            title: 'Long Event',
            start: '2021-12-07',
            end: '2021-12-10'
          },
          {
            groupId: '999',
            title: 'Repeating Event',
            start: '2021-12-09T16:00:00'
          },
          {
            groupId: '999',
            title: 'Repeating Event',
            start: '2021-12-16T16:00:00'
          },
          {
            title: 'Conference',
            start: '2021-12-11',
            end: '2021-12-13'
          },
          {
            title: 'Meeting',
            start: '2021-12-12T10:30:00',
            end: '2021-12-12T12:30:00'
          },
          {
            title: 'Lunch',
            start: '2021-12-12T12:00:00'
          },
          {
            title: 'Meeting',
            start: '2021-12-12T14:30:00'
          },
          {
            title: 'Birthday Party',
            start: '2021-12-13T07:00:00'
          },
          {
            title: 'Click for Google',
            url: 'http://google.com/',
            start: '2021-12-28'
          }
        ]
      });
    
      calendar.render();
    });
</script>

<!--script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl1 = document.getElementById('calendar1');
  
    var calendar1 = new FullCalendar.Calendar(calendarEl1, {
      initialView: 'timeGridWeek',
      initialDate: '2021-12-12',
      navLinks: true,
      headerToolbar: {
        left: 'prev today next',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek timeGridDay,listDay'
      },
      editable: true,
      lang: 'es',
      events: [
        {
          title: 'All Day Event',
          start: '2021-12-01'
        },
        {
          title: 'Long Event',
          start: '2021-12-07',
          end: '2021-12-10'
        },
        {
          groupId: '999',
          title: 'Repeating Event',
          start: '2021-12-09T16:00:00'
        },
        {
          groupId: '999',
          title: 'Repeating Event',
          start: '2021-12-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2021-12-11',
          end: '2021-12-13'
        },
        {
          title: 'Meeting',
          start: '2021-12-12T10:30:00',
          end: '2021-12-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2021-12-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2021-12-12T14:30:00'
        },
        {
          title: 'Birthday Party',
          start: '2021-12-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2021-12-28'
        }
      ]
    });
  
    calendar1.render();
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl2 = document.getElementById('calendar2');
  
    var calendar2 = new FullCalendar.Calendar(calendarEl2, {
      initialView: 'timeGridWeek',
      initialDate: '2021-12-12',
      navLinks: true,
      headerToolbar: {
        left: 'prev today next',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek timeGridDay,listDay'
      },
      editable: true,
      lang: 'es',
      events: [
        {
          title: 'All Day Event',
          start: '2021-12-01'
        },
        {
          title: 'Long Event',
          start: '2021-12-07',
          end: '2021-12-10'
        },
        {
          groupId: '999',
          title: 'Repeating Event',
          start: '2021-12-09T16:00:00'
        },
        {
          groupId: '999',
          title: 'Repeating Event',
          start: '2021-12-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2021-12-11',
          end: '2021-12-13'
        },
        {
          title: 'Meeting',
          start: '2021-12-12T10:30:00',
          end: '2021-12-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2021-12-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2021-12-12T14:30:00'
        },
        {
          title: 'Birthday Party',
          start: '2021-12-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2021-12-28'
        }
      ]
    });
  
    calendar2.render();
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl3 = document.getElementById('calendar3');
  
    var calendar3 = new FullCalendar.Calendar(calendarEl3, {
      initialView: 'timeGridWeek',
      initialDate: '2021-12-12',
      navLinks: true,
      headerToolbar: {
        left: 'prev today next',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek timeGridDay,listDay'
      },
      editable: true,
      lang: 'es',
      events: [
        {
          title: 'All Day Event',
          start: '2021-12-01'
        },
        {
          title: 'Long Event',
          start: '2021-12-07',
          end: '2021-12-10'
        },
        {
          groupId: '999',
          title: 'Repeating Event',
          start: '2021-12-09T16:00:00'
        },
        {
          groupId: '999',
          title: 'Repeating Event',
          start: '2021-12-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2021-12-11',
          end: '2021-12-13'
        },
        {
          title: 'Meeting',
          start: '2021-12-12T10:30:00',
          end: '2021-12-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2021-12-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2021-12-12T14:30:00'
        },
        {
          title: 'Birthday Party',
          start: '2021-12-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2021-12-28'
        }
      ]
    });
  
    calendar3.render();
  });
</script-->
<script>
  function openSchedule(scheduleName) {
    var i;
    var x = document.getElementsByClassName("schedule");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(scheduleName).style.display = "block";
  }
</script>
</body>

</html>
