<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>

    <link rel="icon" href="/public/Logo-FTK-new-negro.png">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <div>
    <nav class="color-nav">
        <a href="/">
            <input type="image" id="image" alt ="Home" src="/public/Logo-FTK-new-blanco.png" width="150px" />
        </a>
        <button role="link" class="buttonis" data-target="/">Cerrar Sesión</button>
      </nav>
    </div>
    <br/>
      <div align="right">
        <button className="menubutton">Menú</button>
      </div>
      <div align="center">
        <h1>Calendario</h1>
      </div>
</body>
</html>