<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>

  <link rel="icon" href="/img/Logo-FTK-new-negro.png">
  <link rel="stylesheet" href="../css/style.css">

</head>

<body>
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <div>
    <button onclick="back();" class="btnMenu">Menú</button>
  </div>
  <br />
  <div class="bckgc">
    <br />
    <table>
      <tbody>
        <tr>
          <td width="950px">
            <h2>Nombre Empleado</h2>
          </td>
          <td><button class="buttong">Nuevo Registro</button></td>
        </tr>
      </tbody>
    </table>
    <br />
    <table>
      <thead>
        <tr class="table_border">
          <th>ID</th>
          <th>Fecha Cita</th>
          <th>Tienda</th>
          <th>Sucursal</th>
          <th>Cliente</th>
          <th>Teléfono</th>
          <th>Tratamiento</th>
          <th>Cabina</th>
          <th>Estatus</th>
          <th>Asesor</th>
          <th>Fecha&nbsp;Creación</th>
          <th>Atiende</th>
          <th>Notas</th>
        </tr>
      </thead>

      <tbody class="table_border">
        <tr>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <select>
              <option disabled selected>Tratamiento</option>
            </select>
          </td>
          <td></td>
          <td>
            <select>
              <option disabled selected></option>
              <option value="pend">Pendiente</option>
              <option value="confirm">Confirmado</option>
              <option value="cancel">Cancelado</option>
              <option value="reag">Reagendado</option>
              <option value="noasist">No Asistio</option>
              <option value="noconfirm">No Confirmo</option>
              <option value="asistsc">Asistio s/compra</option>
              <option value="asistcc">Asistio c/compra</option>
            </select>
          </td>
          <td></td>
          <td></td>
          <td>
            <select>
              <option disabled selected>Atiende</option>
            </select>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="/js/back.js"></script>

</body>

</html>