<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>

  <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
  <link rel="stylesheet" href="../css/style.css">

</head>

<body>
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br>
  <div align="center" class="botomnes">
    <br>
    <h1>Configuración</h1>
    <br>
    <br>
    <table align="center">
      <tbody>
        <tr>
          <td>
            <a href="/marcas">
              <button>Marca</button>
            </a>
          </td>
          <td>
            <a href="/sucursales">
              <button>Sucursal</button>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/tecnologias">
              <button>Tecnología</button>
            </a>
          </td>
          <td>
            <a href="/add_cabina">
              <button>Cabina</button>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/usuarios">
              <button>Usuarios</button>
            </a>
          </td>
          <td><button>Horarios</button></td>
        </tr>
        <tr>
          <td><button>Servicio/Tratamiento</button></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>


</body>

</html>