<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folio</title>

    <link rel="icon" href="/img/Logo-FTK-new-negro.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt ="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
            </a>
            <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
          </nav>
        </div>
        <br>
        <div>
            <button class="btnMenu">Menú</button>
        </div>
        <div align="center">
            <table>
                <tbody>
                  <tr>
                    <td><h1>Consultar Folio</h1></td>
                    <td><h6>Nombre: </h6></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><h6>Teléfono: </h6></td>
                  </tr>
                  <tr>
                    <td><input type="search" placeholder="Folio: "></td>
                    <td><h6>Folio: </h6></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><h6>Tratamientos Totales: </h6></td>
                  </tr>
                  <tr>
                    <td>
                        <div>
                            <button class="buttonis" type="submit">Consultar</button>
                        </div>
                    </td>
                    <td><h6>Tratamientos Restantes: </h6></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><h6>Acompañantes: </h6></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><h6>Acompañantes Restantes: </h6></td>
                  </tr>
                </tbody>
                </table>
                <br/>
                <div align="center">
                <table width="100%" class="magia">
                  <thead>
                    <tr>
                     <th>Tratamiento</th>
                     <th>Agendar</th>
                     <th>Asesor</th>
                     <th>Citas</th>
                   </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Nombre Tratamiento</td>
                      <td><button type="submit" class="buttonis">Agendar</button></td>
                      <td></td>
                     <td></td>
                   </tr>
                  </tbody>
                </table>
                </div>
        </div>
</body>
</html>