<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Center</title>

    <link rel="icon" href="/public/Logo-FTK-new-negro.png">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <div>
    <nav class="color-nav">
        <a href="/">
            <input type="image" id="image" alt ="Home" src="/public/Logo-FTK-new-blanco.png" width="150px" />
        </a>
        <button role="link" class="buttonis" data-target="/">Cerrar Sesión</button>
      </nav>
    </div>
    <br/>
    <h1 align="center">Menú</h1>
    <br/>
    <br/>
    <div class="botomnes">
        <table align="center">
            <tbody>
              <tr>
                <td><button>Agendar</button></td>
                <td><button>Registrar Membresia</button></td>
              </tr>
              <tr>
                <td><button>Pendientes</button></td>
                <td><button>Calendario</button></td>
              </tr>
              <tr>
                <td><button>Clientes</button></td>
                <td></td>
              </tr>
            </tbody>
            </table>
    </div>
</body>
</html>