<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facialista</title>

  <link rel="icon" href="/public/ftk-blanco_solo_logo.png">
  <link rel="stylesheet" href="../css/style.css">

</head>

<body>
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <div align="center">
    <br />
    <div>
      <h1>Seleccionar Sucursal</h1>
      <br />
    </div>
    <label><b>Sucursal: </b></label>
    <br />
    <select>
      <option selected="" value=""></option>
      <option value="cabina1">Sucursal 1</option>
      <option value="cabina2">Sucursal 2</option>
      <option value="cabina3">Sucursal 3</option>
      <option value="cabina4">Sucursal 4</option>
      <option value="cabina5">Sucursal 5</option>
      <option value="cabina6">Sucursal 6</option>
    </select>
    <br />
    <br />
    <a href="/citfac">
      <button class="buttong" type="submit">Seleccionar</button>
    </a>
  </div>
</body>

</html>