<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>

    <link rel="icon" href="/img/Logo-FTK-new-negro.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt ="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
            </a>
            <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
          </nav>
        </div>
        <br/>
        <div>
          <a href="/">
            <button class="btnMenu">Menú</button>
            </a>
        </div>
        <br/>
        <div>
            <table>
                <tbody>
                  <tr>
                    <td><h2>Historial de ventas de: <b>'Vendedor'</b></h2></td>
                    <td><h2>1er Lugar Servicios Vendidos: <b>'Vendedor'</b></h2></td>
                  </tr>
                  <br>
                  <tr>
                    <td><h4 class="texts"># Servicios: <u>'Cantidad'.</u></h4></td>
                    <td><h2>1er Lugar Monto Vendido: <b><u>'$100000.00'</u></b></h2></td>
                  </tr>
                  <tr>
                    <td><h4 class="texts">Monto Servicios: <u>'$ Cantidad'.</u></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><h4 class="texts">Venta total: <u>'$ Cantidad'.</u></h4></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><h4 class="texts">Mis citas totales (mes): <u>'Cantidad'.</u></h4></td>
                    <td></td>
                  </tr>
                </tbody>
                </table>
        </div>
</body>
</html>