<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="icon" href="/public/Logo-FTK-new-negro.png">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt ="Home" src="/public/Logo-FTK-new-blanco.png" width="150px" />
            </a>
            <button role="link" class="buttonis" data-target="/">Cerrar Sesi칩n</button>
          </nav>
        </div>
        <br/>
        <div align="center">
            <div>
                <h1>Inicio de Sesi칩n</h1>
          <form method="post">
            <br/>
            <input type="text" placeholder="ID" name="id" required>
            <br/>
            <br/>
            <input id="password-field" type="password" name="password" placeholder="Contrase침a" minlength="8" maxlength="12" required>
            <br/>
            <br/>
              <button className="buttong" type="submit" name="is">Iniciar sesi칩n</button>
          </form>
            </div>
        </div>
    
</body>
</html>