<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcas</title>

    <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-4.0.0/dist/css/bootstrap-grid.css">
</head>

<body>

    <!--Navbar-->
    <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" />
            </a>
            <a href="/">
                <button role="link" class="btnCerrar">Cerrar Sesión</button>
            </a>
        </nav>
    </div>
    <!--Fin navbar-->
    <div class="todo_marca">
        <div class="comoquieras">
            <img src="/img/color_a.png" alt="grey">
        </div>
        <div>
            <a href="/config">
                <img class="home_logo" src="/img/home.jpg" alt="home">
            </a>
        </div>
        <div>
            <div class="container botomnes">
                <div class="row">
                    <div class="col-sm-3 inputs">
                        <h1>MARCAS</h1>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-3">
                        <button>AGREGAR MARCA</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div align="center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 inputs">
                        <input type="text" placeholder="Nombre marca">
                        <br><br>
                        <input type="text" placeholder="# Sucursales">
                    </div>
                    <div class="col-sm-1">
                        <a id="myBtn">Detalles</a>
                    </div>
                    <div class="col-sm-1">
                        <a href="">Editar</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 inputs">
                        <input type="text" placeholder="Nombre marca">
                        <br><br>
                        <input type="text" placeholder="# Sucursales">
                    </div>
                    <div class="col-sm-1">
                        <a id="myBtn">Detalles</a>
                    </div>
                    <div class="col-sm-1">
                        <a href="">Editar</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 inputs">
                        <input type="text" placeholder="Nombre marca">
                        <br><br>
                        <input type="text" placeholder="# Sucursales">
                    </div>
                    <div class="col-sm-1">
                        <a id="myBtn">Detalles</a>
                    </div>
                    <div class="col-sm-1">
                        <a href="">Editar</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 inputs">
                        <input type="text" placeholder="Nombre marca">
                        <br><br>
                        <input type="text" placeholder="# Sucursales">
                    </div>
                    <div class="col-sm-1">
                        <a id="myBtn">Detalles</a>
                    </div>
                    <div class="col-sm-1">
                        <a href="">Editar</a>
                    </div>
                </div>
            </div>
            <!-- The Modal -->
            <div id="myModal" class="modal_marca">

                <!-- Modal content -->
                <div align="left" class="modal_marca-content" id="modal_cliente">
                    <span class="close">&times;</span>
                    <br><br>
                    <div style="overflow-y:scroll">
                        <p><b>Marca</b></p>
                        <p>55 0000 0000</p>
                        <p>marca@gmail.com</p>
                        <p>www.marca.com</p>
                        <p>@facebook</p>
                        <p>@instagram</p>
                        <p>Sucursal 1</p>
                        <p>Sucursal 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/modal_marca.js"></script>

</html>