<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OG</title>

  <!--link rel="icon" href="/img/Logo-FTK-new-negro.png"-->
  <link rel="icon" href="/img/tem.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link type="text/css" href='/fullcalendar_scheduler/lib/main.css' rel='stylesheet' />
  <script src='/fullcalendar_scheduler/lib/main.js'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  <!--Navbar-->
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <!--Fin navbar-->
  <!--Contenido-->
    <button onclick="back();"class="btnMenu">Menú</button>
  <div style="margin-left: 10vw;" class="calendar_buttons">
    <a href="/calendario">
      <button>Resvera</button>
    </a>
    <a href="/vvcalendar">
      <button type="button">Vine Vera</button>
    </a>
    <a href="/rccalendar">
      <button>Reserve Cut</button>
    </a>
  </div>
  <div id="VV" class="schedule">
    <h2 align="center" class="sch_title">OroGold</h2><button style="margin-right:41.5%" class="btnCerrar"
      id="myBtn">Agregar
      Evento</button>
    <br>
    <div id='external-events'>
      <p align="center">
        <strong>Tecnologías</strong>
      </p>

      <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
        <div class='fc-event-main'>Tecnología 1</div>
      </div>
      <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
        <div class='fc-event-main'>Tecnología 2</div>
      </div>
      <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
        <div class='fc-event-main'>Tecnología 3</div>
      </div>
      <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
        <div class='fc-event-main'>Tecnología 4</div>
      </div>
      <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
        <div class='fc-event-main'>Tecnología 5</div>
      </div>
    </div>
    <div id='calendar-container'>
      <div style="margin-top:4vw; margin-left:10vw; margin-right:10vw" id='calendar2'></div>
    </div>
  </div>


  <br><br>
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div align="center" class="modal-content">
      <span class="close">&times;</span>
      <h2>AGREGAR EVENTO</h2>
      <br>
      <form method="post">
        <input style="width:220px" id="adddate" type="datetime-local" required>
        <br><br>
        <input placeholder="Titulo" style="width:220px" id="titleevent" type="text" required>
        <br><br>
        <textarea placeholder="Detalles" class="textarea_modal" type="text" rows="5" cols="28" required></textarea>
        <br><br>
        <button class="buttonis" type="submit">Agendar</button>
        <button id="cancel" class="buttonis">Cancelar</button>
      </form>
    </div>

  </div>
  <script src="/js/modal.js"></script>
  <script src="/js/calendarog.js"></script>
  <script src="/js/open_schedule.js"></script>
  <script src="/js/back.js"></script>

</body>

</html>