<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pendientes</title>

  <link rel="icon" href="/img/ftk-blanco_solo_logo.png">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <div>
    <button onclick="back();" class="btnMenu">Menú</button>
  </div>
  <br />
  <div class="bckgc">
    <br />
    <h2>Nombre Empleado</h2>
    <br />
    <table class="">
      <thead>
        <tr class="magia">
          <th>ID</th>
          <th>Fecha</th>
          <th>Tienda</th>
          <th>Vendedor</th>
          <th>Cliente</th>
          <th>Vendedor&nbsp;Asignado</th>
          <th>Estatus</th>
          <th>Fecha&nbsp;Creacion</th>
          <th>Notas</th>
        </tr>
      </thead>

      <tbody class="magia">
        <tr>
          <td>1</td>
          <td><input type="date"></td>
          <td>Vine&nbsp;Vera&nbsp;1</td>
          <td>Vendedor&nbsp;1</td>
          <td>
            <div class="tooltip">Cliente&nbsp;1
              <span class="tooltiptext">Datos Cliente<br />Nombre<br />Tratamiento<br />Total&nbsp;Sesiones</span>
            </div>
          </td>
          <td align="center">Nombre&nbsp;Empleado</td>
          <td><select id="estatus">
              <option value="pendiente">Pendiente</option>
              <option value="confirmado">Confirmado</option>
              <option value="cancelado">Cancelado</option>
              <option value="reagendado">Reagendado</option>
              <option value="noasistio">No Asistio</option>
              <option value="nocontesto">No contesto</option>
              <option value="asistiocc">Asistio c/Compra</option>
              <option value="asistiosc">Asistio s/Compra</option>
            </select></td>
          <td>09/09/2021</td>
          <td><input type="textarea"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="/js/back.js"></script>

</body>

</html>