<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>

  <link rel="icon" href="/img/Logo-FTK-new-negro.png">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <!--Navbar-->
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <!--Fin navbar-->
  <!--Contenido-->
  <a href="/">
    <button class="btnMenu">Menú</button>
  </a>
  <div class="titulo">
    <h1>Registrar Cliente</h1>
  </div>
  <div class="formu">
    <form action="/rCliente/add" method="post">
      <label><b>Asesor: </b></label>
      <br>
      <select name="Asesor" id="Asesor">
        <option selected="selected" value=""></option>
        <option value="Asesor 1">0001</option>
        <option value="Asesor 2">0002</option>
        <option value="Asesor 3">0003</option>
      </select>
      <br>
      <br>
      <label><b>Marca: </b></label>
      <br />
      <select name="Marca" id="Marca">
        <option selected="selected" value=""></option>
        <option value="VV">VV</option>
        <option value="OG">OG</option>
        <option value="RC">RC</option>
        <option value="RS">RS</option>
        <option value="VVEXP">VVEXP</option>
      </select>
      <br>
      <br>
      <label><b>Sucursal: </b></label>
      <br />
      <select name="Sucursal" id="Sucursal">
        <option selected="selected" value=""></option>
        <option value="RS01">RS01</option>
        <option value="RC01">RC01</option>
        <option value="VV01">VV01</option>
      </select>
      <br>
      <br>

      <input name="Nombre" id="Nombre" type="text" placeholder="Nombre" required>
      <br />
      <br />
      <input name="Apellido" id="Apellido" type="text" placeholder="Apellidos" required>
      <br />
      <br />
      <label><b>Cumpleaños: </b></label>
      <br>
      <br />
      <div class="tratamientoBox">
        <label for="Día">Día:</label>&nbsp;<input id="Cumpleaños" type="text" id="Día">

        <label for="Mes">Mes:</label>&nbsp;<input id="Cumpleaños" type="text" id="Mes" required>

        <label for="Año">Año:</label>&nbsp;<input id="Cumpleaños" type="text" id="Año">
      </div>
      <br />
      <br />
      <input name="Telefono" id="Telefono" type="tel" placeholder="Teléfono 10 digitos" required-pattern="[0-9]{10}">
      <br />
      <br />
      <input name="Correo" id="Correo" type="email" placeholder="E-mail" required>
      <br />
      <br />
      <div class="col">
        <label for="Fecha_Registro"><b>Fecha de Registro:</b></label><br>
        <input type="date" onload="getDate()" class="form-control" id="Fecha_Registro" name="Fecha_Registro">
      </div>
      <br>
      <input name="Notas" type="textarea" placeholder="Notas" required>
      <br>
      <br>
      <div>
        
        <button class="buttonis" type="submit">Guardar</button>
        <a href="/agendarC">
        <button class="buttonis" type="submit"> Guardar&nbsp;y&nbsp;Registrar<br>Membresia</button>
        </a>
      </div>
    </form>
    <button class="buttonis" id="myBtn">Resumen</button>
    <br><br>
  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div align="center" class="modal-content">
      <span class="close">&times;</span>
      <h2>RESUMEN</h2>
      <p>Asesor:_____________________________________</p>
      <p>Marca:______________________________________</p>
      <p>Sucursal:____________________________________</p>
      <p>Nombre:____________________________________ </p>
      <p>Apellidos:__________________________________</p>
      <p>Cumpleaños:________________________________</p>
      <p>Teléfono:___________________________________</p>
      <p>Correo:_____________________________________ </p>
      <p>Fecha:______________________________________</p>
      <p>Notas:______________________________________ </p>
      <button class="buttonis">Guardar</button>
      <button id="cancel" class="buttonis">Cancelar</button>
    </div>

  </div>
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    //Get the button that closes the modal
    var cancelar = document.getElementById("cancel");

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
      modal.style.display = "block";
    }

    //When the user clicks the button, close the modal
    cancelar.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

</body>

</html>