<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta</title>

    <link rel="icon" href="/public/Logo-FTK-new-negro.png">
    <link rel="stylesheet" href="../css/style.css">

</head>
<script>
    $('.AddNew').click(function(){
        var row = $(this).closest('Row').clone();
        row.find('input').val('');
        $(this).closest('tr').after(row);
        $('input[type="button"]', row).removeClass('AddNew')
                                      .addClass('RemoveRow').val('Remove item');
     });
     
     $('table').on('click', '.RemoveRow', function(){
       $(this).closest('tr').remove();
     });
</script>
<body>
     <div>
        <nav class="color-nav">
            <a href="/">
                <input type="image" id="image" alt ="Home" src="/public/Logo-FTK-new-blanco.png" width="150px" />
            </a>
            <button role="link" class="buttonis" data-target="/">Cerrar Sesión</button>
          </nav>
        </div>
        <br/>
        <div>
            <button class="menubutton">Menú</button>
        </div>
        <form method="post">
            <h1 align="center">Registrar Membresía</h1>
            <br/>
            <table align="center">
              <tbody>
                <tr>
                  <td>
                    <input size="30" type="search" id="idcliente" placeholder="ID Cliente"></input></td>
                </tr>
                <tr>
  
                  <td><br/>
                  <input size="30" type="text" id="folio_membresia" placeholder="Folio Membresía"></input></td>
                </tr>
                <br/>
                <tr>
                  <td><label for="idasesor"><b>ID Asesor: </b></label><br/>
                    <input size="30" type="text" id="idasesor"></td>
                </tr>
                <br/>
                <tr>
                  <td><label for="fechacompra"><b>Fecha Compra: </b></label><br/>
                    <input type="date" id="fechacompra"></td>
                </tr>
                <br/>
            <div>
                <label for="cat">Categoría</label><br/><input type="text" id="cat">
                <br>
                <label for="cant">Cantidad</label><br/><input type="text" id="cant">
                <br>
                <label for="notas">Notas</label><br/><input type="textarea" id="notas">
                <br>
                <img type="button" class="AddNew logos" src="/icon_plus.jpg" alt="plus">
            </div>
            <tr>
                <td><label for="acompañante"><b># Acompañantes</b></label><br/>
                  <input size="30" type="text" id="acompañante"></td>
              </tr>
                <br/>
              <tr>
                <td><label for="ticketnova"><b># Ticket: </b></label><br/>
                  <input size="30" type="text" id="ticketnova"></td>
              </tr>
              <br/>
              <tr>
                <td><label for="importep"><b>Importe Total (Ticket): </b></label><br/>
                  <input size="30" type="text" id="importep"></td>
              </tr>
              <br/>
              <tr>
                <td><label for="descuento"><b>Descuento: </b></label></td>
                <br/>
              </tr>
              <h5>'Generado automáticamente con base al Importe Total'</h5>
              <br/>
              <tr>
                <td><label for="observaciones"><b>Observaciones: </b></label><br/>
                  <input size="30" type="text" id="observaciones"></td>
              </tr>
            </tbody>
          </table>
          <br/>
          <div align="center">
            <button class="buttong" type="submit" name="registrar">Registrar</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="buttong" type="submit" name="registraryag">Registrar y Agendar</button>
          </div>
          <br/>
        </form>
</body>
</html>