<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Venta</title>

  <link rel="icon" href="/img/Logo-FTK-new-negro.png">
  <link rel="stylesheet" href="/css/style.css">

</head>
<script>
  $('.AddNew').click(function () {
    var row = $(this).closest('Row').clone();
    row.find('input').val('');
    $(this).closest('tr').after(row);
    $('input[type="button"]', row).removeClass('AddNew')
      .addClass('RemoveRow').val('Remove item');
  });

  $('table').on('click', '.RemoveRow', function () {
    $(this).closest('tr').remove();
  });
</script>

<body>
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" width="150px" />
      </a>
      <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
    </nav>
  </div>
  <br />
  <div>
    <button class="btnMenu">Menú</button>
  </div>
  <form action="/addm" method="post">
    <h1 align="center">Registrar Tratamiento</h1>
    <br />
    <div align="center">

      <input size="30" type="search" name="id_Cliente" id="id_Cliente" placeholder="ID Cliente">
      <br><br>
      <input size="30" type="text" name="Folio_Membresia" id="Folio_Membresia" placeholder="Folio Membresía">
      <br><br>
      <label for="idasesor"><b>Asesor Venta: </b></label><br />
      <input size="30" type="text" name="Asesor" id="Asesor">
      <br><br>
      <label for="fechacompra"><b>Fecha Compra: </b></label><br />
      <input type="date" name="Fecha" id="Fecha">
      <br><br>
      <div>
        <div class="tratamientoBox">
          <label for=""><b>Tratamiento:</b></label><br><br>
          <label for="cat">Nombre:</label>&nbsp;<input type="text" id="cat">

          <label for="cant">Tipo:</label>&nbsp;<input type="text" id="cant">

          <label for="notas">Precio:</label>&nbsp;<input type="textarea" id="notas">

          <label for="clase">Clase:</label>&nbsp;<input type="textarea" id="clase">
        </div>
        <!--img type="button" class="AddNew logos" src="img/icon_plus.jpg" alt="plus"-->
        <br>
        <br>
      </div>
      <label for="acompañante"><b># Acompañantes:</b></label><br />
      <input size="30" type="text" name="Acompañantes" id="Acompañantes">
      <br><br>
      <label for="ticketnova"><b># Ticket: </b></label><br />
      <input size="30" type="text" name="Ticket" id="Ticket">
      <br><br>
      <label for="importep"><b>Importe Total (Ticket): </b></label><br />
      <input size="30" type="text" name="Importe" id="Importe">
      <br><br>
      <div class="tooltip"><img class="tooltip logos" src="img/descuento_icono.png" alt="plus">
        <span class="tooltiptext">Reglas&nbsp;Descuento<br>1. <br>2. <br>3. <br>4. </span>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="descuento"><b>Descuento: </b></label><br>
      <input size="30" type="text" name="Descuento" id="Descuento">
      <br><br>

      <label for="observaciones"><b>Notas: </b></label><br />
      <input size="30" type="text" name="Observaciones" id="Observaciones">

    </div>
    <br />
    <div align="center">
      <button class="buttong" type="submit" name="registrar">Registrar</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="buttong" type="submit" name="registraryag">Registrar y Agendar</button>
    </div>
    <br />
  </form>
</body>

</html>