<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VV</title>

  <!--link rel="icon" href="/img/ftk-blanco_solo_logo.png"-->
  <link rel="icon" href="/img/tem.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link type="text/css" href='/fullcalendar_scheduler/lib/main.css' rel='stylesheet' />
  <script src='/fullcalendar_scheduler/lib/main.js'></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  <!--Navbar-->
  <div>
    <nav class="color-nav">
      <a href="/">
        <input type="image" id="image" alt="Home" src="/img/Logo-FTK-new-blanco.png" />
      </a>
      <a href="/">
        <button role="link" class="btnCerrar" data-target="/">Cerrar Sesión</button>
      </a>
    </nav>
  </div>
  <br />
  <!--Fin navbar-->

  <button onclick="back();" class="btnMenu">Menú</button>
  <div style="margin-left: 10vw;" class="calendar_buttons">
    <a href="/calendario">
      <button type="button">Resvera</button>
    </a>
    <a href="/rccalendar">
      <button>Reserve Cut</button>
    </a>
    <a href="/ogcalendar">
      <button class="" onclick="openSchedule('OG')">Oro Gold</button>
    </a>
  </div>

  <div id="VV" class="schedule">
    <h2 align="center" class="sch_title">Insurgentes</h2><button style="margin-right:41.5%" class="btnCerrar"
      id="myBtn">Agregar
      Evento</button>
    <a href="/vvcalendar">
      <button class="btnCerrar">Pasaje Polanco</button>
    </a>
    <a href="/vvcalendar_manacar">
      <button class="btnCerrar">Manacar</button>
    </a>
    <a href="/vvcalendar_solesta">
      <button class="btnCerrar">Solesta</button>
    </a>
    <br>

    <div id='calendar-container'>
      <div style="margin-top:4vw; margin-left:10vw; margin-right:10vw" id='calendar_ins' data="<%= data %>"></div>
    </div>
  </div>
  <br><br>
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div align="center" class="modal-content">
      <span class="close">&times;</span>
      <h2>NUEVA CITA</h2>
      <br>
      <form action="/vvcalendar/add" method="post">
        <input placeholder="Titulo" name="title" style="width:220px" id="titleevent" type="text" required>
        <br><br>
        <select name="VineVera_idVineVera" id="">
          <option selected value="1">Vine Vera</option>
        </select>
        <br><br>
        <select name="Sucursal_VV_idSucursal_VV" id="">
          <option selected value="1">Insurgentes</option>
        </select>
        <br><br>
        <label for="Cabina"><b>Cabina: </b></label><br>
        <select name="resourceId" id="Cabina" required>
          <option selected value="a">VV Cabina 1</option>
        </select>
        <br><br>
        <input name="start" style="width:220px" id="adddate" type="datetime-local" required>
        <br><br>
        <input name="end" style="width:220px" id="adddate" type="datetime-local" required>
        <br><br>
        <!--textarea placeholder="Detalles" class="textarea_modal" type="text" rows="5" cols="28" required></textarea-->
        <br><br>
        <button class="buttonis" type="submit">Agendar</button>
        <button id="cancel" class="buttonis">Cancelar</button>
      </form>
    </div>

  </div>

  <script src="/js/modal.js"></script>
  <script src="/js/calendarvv_insurgentes.js"></script>
  <script src="/js/open_schedule.js"></script>
  <script src="/js/back.js"></script>

</body>

</html>